html
    head
        title Timestamp Microservice
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet", href="../css/style.css")
        link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")
    div(class="container")
        h1 Timestamp Microservice
        hr
        ul(class="list-group")
            li(class="list-group-item") A service that checks to see whether a passed query string contains either a unix timestamp or a natural language date (example: January 1, 2016).
            li(class="list-group-item") If it does, it returns both the Unix timestamp and the natural language form of that date.
            li(class="list-group-item") If it does not contain a date or Unix timestamp, it returns null for those properties.
        
        h2 Examples
        div(class="well")
            h4 Natural <i class="glyphicon glyphicon-chevron-right"></i> Unix
            hr
            a(class="example-link" href="https://npm-labriffa.c9users.io/January, 4, 1991") https://npm-labriffa.c9users.io/January, 4, 1991
            hr
            h4 Returns
            hr
            p(class="example-return") { <span class="unix">"unix"</span>: 662947200,<span class="natural"> "natural"</span>: "January, 4, 1991" }
            
        
        div(class="well")
            h4 Unix <i class="glyphicon glyphicon-chevron-right"></i> Natural
            hr
            a(class="example-link" href="https://npm-labriffa.c9users.io/1509408000") https://npm-labriffa.c9users.io/1509408000
            hr
            h4 Returns
            hr
            p(class="example-return") { <span class="unix">"unix"</span>: "1509408000",<span class="natural"> "natural"</span>: "2017-10-31T00:00:00.000Z" }